<div class="container-fluid bg-fluid p-0">
    <div class="col-md-12 m-0 p-0">
      <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="https://i.imgur.com/Lj0KK2F.png"
              alt="logo"
              width="100"
              height="30"
            />
          </a>
          <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <div class="collapse navbar-collapse d-flex justify-content-center " id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class=""
                class="nav-link active font-weight-bold text-black"
                aria-current="page"
                href="#conteudo"
                >Início</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-black mr-2" href="#sobrenos"
                >Cardápio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-black" href="#cards"
                >Sobre</a
              >
            </li>
          
          </ul>
        <div class="container">

          <div class="nav-item pl-3 d-flex justify-content-end ml-auto">
            <button type="button" class="btn btn-outline-dark">Entrar</button>

            
              </div>
          </div>
        </div>
        
        </div>
    
        
        </div>
      </nav>
         

      
     <!--Conteudo-->
     <br>
     <br>

     <div class="row" id="conteudo">
        <div class="container-fluid bg-white">
          <div class="row bg-white d-flex align-items-center">
            <div class="col-md-6">
              <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-black">
                  <h1 class="fs-44">Comida oriental</h1>
                  <h5 class="fs-13 fw-normal">
                   A culinária japonesa é bastante equilibrada,
                   sendo muito rica em peixes (ômega 3),
                   vegetais, massas e ingredientes frescos.
                  </h5>
                </div>
              </div>
              <br>
              <div class="d-flex justify-content-center mt-3 ">
                <button type="button" class="btn btn-danger btn-lg ">Cardápio</button>
              </div>

              <div class="row d-flex justify-content-center mt-3 mb-5">
  
            </div>
          </div>
<!--Configuração imagem-->
<div class="col-md-6 d-flex justify-content-center">
    <img
      src="https://i.imgur.com/lbHcs2o.png"
      alt=""
      width="400px"
      height="500px"
    />
  </div>
  <div></div>
</div>
</div>

<p></p>
<div></div>

</div>
 <!--Modo de preparo-->
 <div class="container-fluid bg-white">
  <div class="row bg-white my-5" id="mododepreparo">
    <div class=" row bg-white d-flex justify-content-center mt-5 bg-white" id="mododepreparo">
        <div class="row bg-light d-flex align-items-center justify-content-center">
          <div class="col-md-6">
            <div class="row d-flex justify-content-center align-items-center">
    
              <!--Configuração de imagem 2-->
              <div class="col-md-6 d-flex justify-content-center bg-white">
                <img
                  src="https://i.imgur.com/iuJiam2.png"
                  alt=""
                />
              </div>
            </div>
          </div>
    
          <div class="col-md-6 d-flex justify-content-center bg-white">
            <!-- <div class="row d-flex justify-content-center align-items-center"> -->
              <div class="col-md-8 text-secondary flex-column justify-content-center bg-white ">
                
                <div class="d-flex justify-content-center bg-white">
                
              </div>
              <div class="">
                <h1 class="fs-34 d-flex justify-content-center font-weight-bold text-black bg-white">Feito de forma tradicional</h1>
                <br>
                <h3 class="fs-10 d-flex justify-content-center fw-normal text-black">
                    Preparada de maneira minuciosa e com visual encantador, esta culinária apresenta uma grande variedade de pratos e sabores únicos.
    
                   
                </h3>
              </div>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
      <!-- </div> -->
 </div>
 </div>
 
 

  <!--Conteudo de Cards-->
  <h1 class="d-flex justify-content-center fw-bold fs-22"> Mais populares</h1>
  <br>
 
  <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
    <div class="col">
      <div class="card d-flex justify-content-center">
        <img src="https://i.imgur.com/pSohxZz.png" class="card-img-top" alt="..." height="180vh" width="150vh" >
        <div class="card-body" >
          <h5 class="card-title  fs-28 d-flex justify-content-center" >Ramen de frango</h5>
          <p class="card-text">massa de macarrão oriental (hosomen);
             base de caldo de carne e vegetais;
            Acompanhamentos diversos (frango, vegetais, algas, ovos).
            <p class="card-text fw-bold d-flex justify-content-center fs-20 "> $30</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-80">
        <img src="https://i.imgur.com/YW2Hz77.png" class="card-img-top" alt="..." height="205" width="150">
        <div class="card-body">
          <h5 class="card-title fs-28 d-flex justify-content-center">Ramen apimentado</h5>
          <p class="card-text">massa de macarrão oriental (hosomen);
            Molho Sriracha, Pimenta Caiena e Carne de Vaca
            <p class="card-text fw-bold d-flex justify-content-center fs-20 "> $30</p>
          
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card h-80">
        <img src="https://i.imgur.com/LDPu2yM.png" class="card-img-top" alt="..." height="160" width="150">
        <div class="card-body">
          <h5 class="card-title fs-28 d-flex justify-content-center ">Ramen tradicional</h5>
          <p class="card-text">kamaboko (massa de peixe) em fatias (opcional e quantidade a gosto)
            lombo de porco cozido fatiado (ingrediente opcional e quantidade a gosto)
            ovos cozidos cortados ao meio
            <p class="card-text fw-bold d-flex justify-content-center fs-20 "> $30</p>
        </div>
      </div>
    </div>
    
  </div>       
    <!--/Conteudo de Cards-->

        <!--Conteudo de Comentários-->
<h1> Comentários</h1>
<br>
<section class="cards">
  <div class="card">
  <img class="user"src="https://i.imgur.com/qF4u0zd.png" alt="foto do usuário">
  <h3> Daniele Almeida</h3>
    <p> Ótimo serviço! estou encantada com a qualidade dos pratos.</p>
    <div class="stars">
      <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="">
      <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="">
      <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="">
      <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="">
      <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="">

  </div>
  </div>

  <div class="card">
    <img class="user"src="https://i.imgur.com/DRNIsl0.png" alt="foto do usuário">
    <h3> Ricardo França</h3>
  
      <p> Não é apenas a comida excelente, o serviço torna a experiência especial.</p>
      <div class="stars">
        <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="" width="30px">
        <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="">
        <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="">
        <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="">
        <img class="star" src="https://i.imgur.com/WUOU3Tx.png" alt="">
    </div>
    </div>
</section>

    <!--/Conteudo de Comentários-->

    <!--Conteudo de Localização-->
    <br>
    <h1> Localização</h1>
    <!--/Conteudo de Comentários-->
